@media screen and (max-width: 600px){
	nav#porfolio-nav li {
		width: 20%;
		float: left;
		position: relative;
	}

	nav#porfolio-nav a {
		text-align: center;
		width: 100%;
		text-indent: unset;
	}
}

.wagwep-container ul#portfolio-filter a {
	color: #424242;
	text-decoration: none;
	border: 0;
	background: 0;
	margin: 0 10px 10px 0;
	padding: 6px 12px;
	border-radius: 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

ul#portfolio-filter a:hover {
    text-decoration: none;
    background: #eee;
    color: #222;
}
.og-fullimg {
	display: none;
}
.og-details {
    width: 100%;
    margin-top: 50px;
}
.elastislide-wrapper {
	display: none;
}
.og-expander {
    height: auto;
}